.vscode/**
.github/**
crates/**
target/**
src/**
docs/**
.gitignore
.pre-commit-config.yaml
Cargo.toml
Cargo.lock
rustfmt.toml
format.sh
tsconfig.json
**/*.ts
**/*.rs
**/*.map
node_modules/**
!dist/**
!dist/core/**
!dist/core_bg.wasm
!dist/webview/**
!media/**
